VITE_AWS_REGION=ap-northeast-2
VITE_COGNITO_USER_POOL_ID=ap-northeast-2_wKEL9hhbQ
VITE_COGNITO_APP_CLIENT_ID=5icj3sfkbd83t6fdpuas69damg
VITE_APPSYNC_GRAPHQL_URL=https://YOUR_API_ID.appsync-api.ap-northeast-2.amazonaws.com/graphql
